<beans xmlns="http://www.springframework.org/schema/beans"       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"       xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd">    <bean id="sshInfoDao" class="com.aiziyuer.app.ssh.dao.SshInfoDAOImpl">        <property name="jdbcTemplate" ref="jdbcTemplate"/>        <property name="namedTemplate" ref="namedTemplate"/>        <property name="sessionFactory" ref="sessionFactory"/>    </bean>    <bean id="sshInfoBiz" class="com.aiziyuer.app.ssh.biz.SshInfoBizImpl">        <property name="sshInfoDAO" ref="sshInfoDao"/>    </bean></beans>