<beans xmlns="http://www.springframework.org/schema/beans"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd">	<!-- 界面布局文件汇总 -->	<bean id="xwtFileMap" class="java.util.HashMap">		<constructor-arg>			<map>				<entry key="mainUI" value="#{CONFIG_DIR_MAP.ui}/MainApplicationWindow.xwt" />			</map>		</constructor-arg>	</bean>	<bean name="mainUI" class="com.aiziyuer.app.ui.MainApplicationWindow"		scope="prototype" /></beans>