<beans xmlns="http://www.springframework.org/schema/beans"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd">	<!-- 界面布局文件汇总 -->	<bean id="xwtFileMap" class="java.util.HashMap">		<constructor-arg>			<map key-type="java.lang.String" value-type="java.lang.String">				<entry key="mainUI" value="#{configDirMap.ui}/MainApplicationWindow.xwt" />			</map>		</constructor-arg>	</bean></beans>