<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task.xsd">

	<!--全局的Spring工具类 -->
	<bean id="serviceLocator" class="com.aiziyuer.app.framework.util.ServiceLocator"
		lazy-init="false" />

	<!--自定义线程池 -->
	<task:executor id="myExecutor" pool-size="5" />
	<task:scheduler id="myScheduler" pool-size="2" />
	<task:annotation-driven executor="myExecutor"
		scheduler="myScheduler" />

	<!-- 数据库作为基础的需要先包含 -->
	<import resource="applicationContext-jdbc.xml" />

	<!-- 业务的配置 -->
	<import resource="applicationContext-ssh.xml" />

	<!-- 入口类 -->
	<bean id="coreApplication" class="com.aiziyuer.app.CoreApplication" />

	<!--脚本刷新经常导致进程重启挂死，暂时注释脚本 -->
	<!--<import resource="applicationContext-scripts.xml"/> -->

</beans>