<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}->%M:%L - %msg%n" />
		</Console>
		<File name="FileLog" fileName="log/info.log" bufferedIO="false"
			advertiseURI="file://log/info.log" advertise="true">
			<PatternLayout
				pattern="%d{yyyy HH:mm:ss.SSS} [%t] %-5level %logger{36}->%M:%L - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="FileLog" />
		</Root>
		<Logger name="org.hibernate" additivity="false">
			<appender-ref ref="FileLog" level="trace" />
		</Logger>
	</Loggers>
</Configuration>